body {
	font-family: Trebuchet MS;
	font-weight: 200;
	font-size: 14px;
	margin: 0;
	background: #ececec;
}

h4, h5 {
	margin: 5px auto;
}


input[type="text"], input[type="password"], textarea
{
	font-weight: normal;
	cursor: pointer;
	vertical-align: top;
	text-align: left;
	height: 14px;
	width: 160px;
	margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 9px;
	z-index: 250;
	border: 1px solid #d5d5d5;
	display: inline-block;
	padding: 4px 6px;
	font-size: 12px;
	line-height: 15px;
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	webkit-box-shadow: 0px 0px 2px rgba(150,150,150,0.70);
	-moz-box-shadow: 0px 0px 2px rgba(150,150,150,0.70);
	box-shadow: 0px 0px 2px rgba(150,150,150,0.70);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}


	
input[type="submit"], input[type="button"] {
	moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #fff 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dfdfdf');
	background-color:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:14px;
	font-style:normal;
	height:30px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	cursor:pointer;	
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus {border: 1px solid #4D90FE}



input[type="submit"]:hover, input[type="button"]:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.header {
	height: 100px;
	text-align: center;
	font-size: 50px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
}

@import url(http://fonts.googleapis.com/css?family=Nunito);

.fa {
	margin-right: 10px;
	color: #000;
}

#accordion_menu {
	background: #FFFFFF;
	width: 960px;
	margin: 50px auto 0 auto;
	color: black;
	/*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
#accordion_menu h3 {
	font-size: 14px;
	line-height: 50px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	box-shadow: 0px 0px 1px 1px #E2E2E2;
	transition: all 0.25s;
}
#accordion_menu h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	background: #F7F7F7;
	
}
#accordion_menu h3 span {
	font-size: 16px;
	margin-right: 10px;
}
#accordion_menu ul{
	padding: 0;
}

#accordion_menu li {
	list-style-type: none;
}
#accordion_menu ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	transition: all 0.15s;
}
#accordion_menu ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
#accordion_menu ul ul {
	display: none;
}

#accordion_menu ul div li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	transition: all 0.15s;
}
#accordion_menu ul div li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
#accordion_menu ul div {
	display: none;
	padding: 10px 15px;
}

#accordion_menu li.active ul {
	display: block;
}

#accordion_menu div dl {
	margin: 0;
}